<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cougar Shop</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="ui form container">
    <form class = "ui form container">
      <div class="field">
        <label>Title</label>
        <input name="title" type="text" placeholder="Title">
      </div>
      <div class="field">
        <label>Time</label>
        <input name="time" type="text" placeholder="Time">
      </div>
      <div class="field">
        <label>Description</label>
        <textarea></textarea>
      </div>
    </form>
  </div>

</body>
</html>