<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cougar Shop</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="ui center aligned segment">
  <h4>GROUPIE</h4>
</div>

<div class="ui menu">
  <div class="compact menu">
    <div class="ui simple dropdown item">
      File Repos
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">Item 1</div>
        <div class="item">Item 2</div>
        <div class="item">Item 3</div>
      </div>
    </div>
  </div>
  <div class="right menu">
    <div class="item">Editor</div>
  </div>
</div>
<div class="ui top attached segment">
  <div class="ui seven column grid container">
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <a class="singleVal text">1</a>
          <img src="images\Calendar%20box.png" content="hello">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <a class="doubleVal text">25</a>
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui attached segment">
  <div class="ui seven column grid container">
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui top attached segment">
  <div class="ui seven column grid container">
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <a class="singleVal text">1</a>
          <img src="images\Calendar%20box.png" content="hello">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <a class="doubleVal text">25</a>
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui attached segment">
  <div class="ui seven column grid container">
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui top attached segment">
  <div class="ui seven column grid container">
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <a class="singleVal text">1</a>
          <img src="images\Calendar%20box.png" content="hello">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <a class="doubleVal text">25</a>
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui attached segment">
  <div class="ui seven column grid container">
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui top attached segment">
  <div class="ui seven column grid container">
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <a class="singleVal text">1</a>
          <img src="images\Calendar%20box.png" content="hello">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <a class="doubleVal text">25</a>
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui attached segment">
  <div class="ui seven column grid container">
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui top attached segment">
  <div class="ui seven column grid container">
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <a class="singleVal text">1</a>
          <img src="images\Calendar%20box.png" content="hello">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <a class="doubleVal text">25</a>
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui attached segment">
  <div class="ui seven column grid container">
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <div class="ui fluid image">
          <img src="images\Calendar%20box.png">
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>